apiVersion: v1
kind: Service
metadata:
  name: argocd-image-updater
  namespace: argocd
spec:
  selector:
    app.kubernetes.io/name: argocd-image-updater
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 8082
      targetPort: 8082
