apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "core-{{ .Values.nodeName }}-pvc"
  namespace: core
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  volumeName: "core-{{ .Values.nodeName }}-pv"