apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "core-{{ .Values.nodeName }}-pvc"
  namespace: core
  annotations:
    volume.kubernetes.io/selected-node: {{ .Values.nodeName }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 100Gi