@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
};

html {
  overflow: hidden;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0px;
}

a:not(.tab) {
  @apply text-accent hover:underline;
}

.font-display {
  font-family: 'Oswald Variable', sans-serif;
}