@import "tailwindcss";
@plugin "daisyui";

html {
  overflow: hidden;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0px;
}

a {
  @apply text-accent hover:text-accent-content hover:underline;
}