@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
};

html {
  overflow: hidden;
  user-select: none;
  font-family: 'Noto Sans KR Variable', Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0px;
}

a:not(.tab) {
  @apply text-accent hover:underline hover:bg-accent-content;
}

.font-display {
  font-family: 'Oswald Variable', sans-serif;
}