@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default, dark --prefersdark;
};

html {
  overflow: hidden;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0px;
}

a {
  @apply text-accent hover:underline;
}