apiVersion: v1
kind: Service
metadata:
  name: webserver
  namespace: core
spec:
  selector:
    app: webserver
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
    - protocol: TCP
      port: 443
      targetPort: 443
    - protocol: UDP
      port: 443
      targetPort: 443
