apiVersion: v1
kind: Service
metadata:
  name: webserver
  namespace: core
spec:
  selector:
    app: webserver
  type: LoadBalancer
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443
    - name: http3
      protocol: UDP
      port: 443
      targetPort: 443
