.main {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 6px;
  flex-direction: row;
}

.main .index_view {
  flex-grow: 1;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
    gap: 0px;
  }
}
