.main {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 6px;
  flex-direction: row;
  overflow: auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: #22222555 transparent;
}

.icon {
  height: 1em;
  width: 1em;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
    gap: 0px;
  }
}