.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
  width: 100%;
  height: 100%;
}

.content {
  flex: 1 1 auto;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  width: 1em;
}

.container a {
  display: flex;
  align-items: center;
  gap: 4px;
}

.item .time {
  font-size: 10px;
  color: #aaa;
}