.hero {
  padding: 20px;
  min-width: 180px;
  overflow: auto;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 24px;
  user-select: none;
  position: sticky;
  top: 0px;
  background-color: #faf7f5;
  min-height: min-content;
}

.hero h1 {
  color: #212121;
  font-family: 'Merriweather Variable', serif;
  font-size: 34px;
}

.hero span {
  color: #fe1c55;
  font-weight: normal;
}

@media (max-width: 800px) {
  .hero div {
    display: none;
  }
}