.index_view {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.parent {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 6px;
}

.items {
  list-style: none;
  padding-bottom: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 6px;
  word-break: keep-all;
  width: 100%;
}

.item .icon {
  flex-shrink: 0;
}

.item .fname {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item .size {
  color: #222225;
  flex-shrink: 0;
}

.item .last {
  align-self: flex-end;
  flex-shrink: 0;
  color: #ccc;
  font-size: 12px;
}

@media (max-width: 800px) {
  .index_view {
    padding: 0px;
    padding-left: 20px;
  }
}

@media (max-width: 400px) {
  .item .last {
    display: none;
  }
}