:root {
  font-family: 'Roboto Variable', Arial, Helvetica, sans-serif;
  background-color: #faf2f1;
}

* {
  box-sizing: border-box;
}

html,
body,
h1,
p {
  padding: 0;
  margin: 0;
}

html {
  display: flex;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
}

body {
  width: 100%;
  max-width: 1200px;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline solid 1px;
}