.container {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 0px 0px;
  gap: 16px;
  width: 100%;
  height: 100%;
}

.content {
  flex: 1 1 auto;
}

.items {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: #22222555 transparent;
  padding-bottom: 16px;
  transition: box-shadow 0.3s ease-out;
}

.items.scrolled {
  box-shadow: inset 0px 8px 6px -8px #888;
}

.item {
  display: flex;
  gap: 16px;
}

.item > * {
  display: flex;
  align-items: center;
}

.parent {
  display: flex;
  align-items: center;
}

.icon {
  height: 1em;
}

.item .time {
  font-size: 10px;
  color: #aaa;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
