:root {
  font-family: 'Roboto Variable', Arial, Helvetica, sans-serif;
  background-color: #faf7f5;
  color: #222225;
}

* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
p {
  padding: 0;
  margin: 0;
}

html {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

body {
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

#root {
  width: 100%;
  height: 100%;
  width: 100%;
  max-width: 1200px;
}

#root::-webkit-scrollbar-button {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline solid;
}