.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
  width: 100%;
  height: 100%;
}

.content {
  flex: 1 1 auto;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;

  opacity: 0;
  animation: fade-in 0.3s ease-out forwards;
  animation-delay: calc(var(--i) * 0.1s);
}

.icon {
  height: 1em;
}

.container a {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

.item .time {
  font-size: 10px;
  color: #aaa;
}

.desc {
  display: flex;
  align-items: center;
  gap: 6px;
}

.desc>p {
  display: flex;
  align-items: center;
  gap: 6px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}