:root {
  font-family: 'Roboto Variable', Arial, Helvetica, sans-serif;
  background-color: #faf7f5;
  color: #222225;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
ul,
p {
  padding: 0;
  margin: 0;
}

#root {
  width: 100dvw;
  height: 100dvh;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline solid;
}