name: Build indexer image
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - indexer/**

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout files

      # Build backend
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "stable"
          cache-dependency-path: indexer/backend/go.sum

      - name: Build backend
        working-directory: indexer/backend
        run: |
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o main-amd64
          CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -o main-arm64

      # Build frontend
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "25"

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install frontend dependencies
        working-directory: indexer/frontend
        run: pnpm install

      - name: Build frontend
        working-directory: indexer/frontend
        run: pnpm build

      # Docker build
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          context: indexer
          platforms: linux/arm64,linux/amd64
          tags: ghcr.io/pmh-only/indexer:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
